{
    "frames": [
        {
            "id": 1,
            "user_id": 1,
            "name": "to-do-list", 
            "created_at": "2022-06-14", 
            "updated_at": "2022-06-14" 
        },
        {
            "id": 2,
            "user_id": 1,
            "name": "home tasks", 
            "created_at": "2022-06-14", 
            "updated_at": "2022-06-14" 
        },
        {
            "id": 2,
            "user_id": 1,
            "name": "college tasks", 
            "created_at": "2022-06-14", 
            "updated_at": "2022-06-14" 
        }
    ]
}