<div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col-md-6">
                <div class="text-xs font-weight-bold text-info text-uppercase mt-2">
                    <span class="name-frame">{{frame.name | truncate: 10}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <fa-icon class="icon-feature-show btn btn-primary" [icon]="faPencil" title="Editar quadro" ></fa-icon>
            </div>
        </div>
    </div>
</div>