<div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col-md-6">
                <div class="text-xs font-weight-bold text-info text-uppercase mt-2">
                    <input type="text" class="form-control name-frame" [(ngModel)]="frame.name" [disabled]="editFrame" />
                </div>
            </div>
            <div class="col-md-2">
                <fa-icon [ngClass]="{'icon-feature-show': true, 'btn': true, 'btn-primary': editFrame, 'btn-success': !editFrame }" [icon]="iconInput" title="{{editFrame ? 'Editar quadro ' + frame.name : 'Salvar'}}" (click)="editActiveToggle()"></fa-icon>
            </div>
            <div class="col-md-2">
                <a [routerLink]="['/frame', frame.id]">
                    <fa-icon class="icon-feature-show btn btn-info" [icon]="faEye" title="Visualizar tarefas do quadro {{frame.name}}"></fa-icon>
                </a>
            </div>
            <div class="col-md-2">
                <a data-toggle="modal" [attr.data-target]="deleteFrameModalLink">
                    <fa-icon [icon]="faTrash" class="icon-feature-show btn btn-danger" title="Deletar o quadro {{frame.name}}"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Frame -->
<div class="modal fade" [id]="deleteFrameModal" tabindex="-1" aria-labelledby="deleteFrameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFrameModalLabel">Deletar o quadro {{frame.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <span class="alert-link"> <fa-icon [icon]="faExclamationTriangle"></fa-icon> TODAS AS TAREFAS SERÃO DELETADAS!</span>
                </div>
                Tem certeza que deseja deletar esse quadro?
            </div>
            <div class="modal-footer">
                <button [id]="closeModalDeleteFrame" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deleteFrame()" >Deletar</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal Add Frame -->