.name-frame {
    font-size: 18px;
    max-width: 50px; /* Tamanho */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card {
    transition: 0.3s;
}

.icon-feature-show {
    cursor: pointer;
}

.card:hover {
    background-color: rgb(236, 236, 236);
    transition: 0.3s;
}