.col-card {
    margin-bottom: 15px;
}

.right-align {
    float: right;
}

.label-input-default {
    color: rgba(0, 0, 0, 0.65);
    font-weight: bolder;
}

.input-default {
    border: none;
    border-bottom: 1px solid rgb(158, 158, 158);
    border-radius: 0px;
}

.input-default:focus {
    box-shadow: none;
}