<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['']">
        <div class="sidebar-brand-icon rotate-n-15">
            <fa-icon [icon]="faLaughWink" class="mr-2"></fa-icon>
        </div>
        <div class="sidebar-brand-text mx-3"> {{ application_title }} </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">
            <fa-icon [icon]="faTachometerAlt" class="mr-2"></fa-icon>
            <span>Dashboard</span>
        </a>
        <a class="nav-link" [routerLink]="['frames']">
            <fa-icon [icon]="faCalendar" class="mr-2"></fa-icon>
            <span>Quadros</span>
        </a>
    </li>
</ul>
<!-- End of Sidebar -->